@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  background-color: #251f1f;
}

.resume {
  background: linear-gradient(266.37deg, #623a23 0%, #e8d7be 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
}
.logo {
  background: linear-gradient(113.38deg, #623a23 0%, #e8d7be 90.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon {
  animation: icons 6s ease infinite;
}
@keyframes icons {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(225deg);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
